@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Work+Sans&display=swap');

:root {
    --color-green: #0fff00;
    --color-blue: #0e01ff;
    --color-aqua: #00e7fb;
    --color-purple: #f900ec;
    --color-red: #ff003a;
    --color-yellow: #fce500;
    --color-orange: #ff9b00;
}

@media only screen and (orientation: portrait) {
    .navbar-brand {
        font-size: 2.5em !important;
    }
    .navbar {
        font-size: 1.8em !important;
    }
    .navbar-toggler-icon {
        font-size: 2em !important;
        color: white !important;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .navbar-brand {
        font-size: 1.3em !important;
    }
    .navbar {
        font-size: 1.8em !important;
    }
    .navbar-toggler-icon {
        font-size: 1.3em !important;
        color: white !important;
    }
}

#page-navbar {
    background: rgba(0,0,0,0.9) !important;
}



.navbar-brand {
    color: white !important;
    font-family: Saira Semi Condensed;
}

.navbar-toggler {
    border-color: transparent !important;
    outline: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

html {
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#particles-js {
    height: 100%;
    width: 100%;
}

.nav-item {
    color: white !important;
    font-family: Saira Semi Condensed;
}

#hero-title h1 {
    color: white;
    font-size: 4em;
    font-family: Saira Semi Condensed;
}

#hero {
    /* background: linear-gradient(var(--color-blue), var(--color-purple)); */
    background: black;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

#hero a {
    background-color: transparent;
    font-size: 2em;
    position: absolute;
    left: 50%;
    top: 90%;
    font-family: Work Sans;
    color: white;
    border: 2px solid white;
    transform: translate(-50%) skewX(0deg);
    text-align: center;
    transition: background-color 0.5s, border 0.5s, transform 0.5s;
    text-decoration: none;
    animation: signup-animation 10s infinite;
}



@keyframes signup-animation {
    0% {
        border: 2px solid var(--color-green);
        color: var(--color-green);
    }
    11.11% {
        border: 2px solid var(--color-blue);
        color: var(--color-blue);
    }
    22.22% {
        border: 2px solid var(--color-aqua);
        color: var(--color-aqua);
    }
    33.33% {
        border: 2px solid var(--color-purple);
        color: var(--color-purple);
    }
    44.44% {
        border: 2px solid var(--color-red);
        color: var(--color-red);
    }
    55.55% {
        border: 2px solid var(--color-yellow);
        color: var(--color-yellow);
    }
    66.66% {
        border: 2px solid var(--color-orange);
        color: var(--color-orange);
    }
    77.77% {
        border: 2px solid white;
        color: white;
    }
    88.88% {
        border: 2px solid black;
        color: grey;
    }
    100% {
        border: 2px solid var(--color-green);
        color: var(--color-green);
    }
}

#hero a:hover {
    transform: translateX(-50%) skew(-10deg);
}

@media only screen and (orientation: landscape) {
    #hero a {
        width: 30vw;
    }
}

@media only screen and (orientation: portrait) {
    #hero a {
        width: 80vw;
    }
}

#hero-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (orientation: landscape) {
    #hero-image {
        width: 30vw;
    }
}

@media only screen and (orientation: portrait) {
    #hero-image {
        width: 95vw;
    }
}

#aboutus {
    height: 100vh;
    padding-bottom: 35vh;
    width: 100vw;
    background: linear-gradient(to bottom left, var(--color-red), var(--color-purple));
    background-attachment: fixed;
}

p.section-descriptor {
    color: white;
    font-size: 1.5em;
    margin-top: 5vh;
}

#details {
    width: 100vw;
    padding-bottom: 10vh;
    background: linear-gradient(to bottom left, var(--color-purple), var(--color-aqua));
    background-attachment: fixed;
}

#schedule {
    min-height: 100vh;
    padding-bottom: 10vh;
    width: 100vw;
    background: linear-gradient(to bottom left, var(--color-purple), var(--color-orange));
    background-attachment: fixed;
}

#schedule .container {
    padding-top: 5vh;
}

#faq {
    background: linear-gradient(to bottom left, var(--color-aqua), lightgreen);
    background-attachment: fixed;
    padding-bottom: 10vh;
    min-height: 100vh;
    width: 100vw;
}

#faq .container {
    padding-top: 5vh;
}

#faq h2 {
    font-family: Saira Semi Condensed;
}
#faq p {
    font-family: Work Sans;
    font-size: 1.1em;
}

#ourteam {
    background: linear-gradient(to bottom right, var(--color-orange), var(--color-purple));
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 10vh;
    width: 100vw;
}

#ourteam .container {
    padding-top: 5vh;
}

.ourteam-person img {
    height: auto;
    width: 10em;
}

.ourteam-person h1 {
    padding-top: 0.5em;
    color: white;
    font-size: 2em;
}

.ourteam-person p {
    color: white;
    font-size: 1em;
}

tr {
    color: white;
    font-family: Work Sans;
}

.section-title {
    padding-top: 15vh;
    font-size: 5em;
    font-family: Saira Semi Condensed;
    width: 100vw;
    text-align: center;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}