@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed|Work+Sans&display=swap');

:root {
    --color-green: #0fff00;
    --color-blue: #0e01ff;
    --color-aqua: #00e7fb;
    --color-purple: #f900ec;
    --color-red: #ff003a;
    --color-yellow: #fce500;
    --color-orange: #ff9b00;
}

@media only screen and (orientation: portrait) {
    .navbar-brand {
        font-size: 2.5em !important;
    }
    .navbar {
        font-size: 1.8em !important;
    }
    .navbar-toggler-icon {
        font-size: 2em !important;
        color: white !important;
    }
}

#page-navbar {
    /* background: rgba(0,0,0,0.5) !important; */
}



.navbar-brand {
    color: white !important;
    font-family: Saira Semi Condensed;
}

html {
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#particles-js {
    height: 100%;
    width: 100%;
}

.nav-item {
    color: white !important;
    font-family: Saira Semi Condensed;
}

#hero-title h1 {
    color: white;
    font-size: 4em;
    font-family: Saira Semi Condensed;
}

#hero {
    background: linear-gradient(var(--color-blue), var(--color-purple));
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

#aboutus {
    height: 100vh;
    padding-bottom: 35vh;
    width: 100vw;
    background: linear-gradient(to bottom left, var(--color-red), var(--color-purple));
    background-attachment: fixed;
}

p.section-descriptor {
    color: white;
    font-size: 1.5em;
    margin-top: 5vh;
}

#details {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom left, var(--color-purple), var(--color-aqua));
    background-attachment: fixed;
}

#schedule {
    min-height: 100vh;
    padding-bottom: 10vh;
    width: 100vw;
    background: linear-gradient(to bottom left, var(--color-purple), var(--color-orange));
    background-attachment: fixed;
}

#schedule .container {
    padding-top: 5vh;
}

#faq {
    background: linear-gradient(to bottom left, var(--color-aqua), lightgreen);
    background-attachment: fixed;
    padding-bottom: 10vh;
    min-height: 100vh;
    width: 100vw;
}

#faq .container {
    padding-top: 5vh;
}

#faq h2 {
    font-family: Saira Semi Condensed;
}
#faq p {
    font-family: Work Sans;
    font-size: 1.1em;
}

#ourteam {
    background: linear-gradient(to bottom right, var(--color-orange), var(--color-purple));
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 10vh;
    width: 100vw;
}

#ourteam .container {
    padding-top: 5vh;
}

.ourteam-person img {
    height: 10em;
    border-radius: 1000em;
}

.ourteam-person h1 {
    padding-top: 0.5em;
    color: white;
    font-size: 2em;
}

.ourteam-person p {
    color: white;
    font-size: 1em;
}

tr {
    color: white;
    font-family: Work Sans;
}

.section-title {
    padding-top: 15vh;
    font-size: 5em;
    font-family: Saira Semi Condensed;
    width: 100vw;
    text-align: center;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}