#contact {
    padding-top: 5vh;
    padding-bottom: 5vh;
    /* background: linear-gradient(to bottom left, var(--color-blue), black); */
    background: var(--color-bluegrey);
    background-attachment: fixed;
    width: 100vw;
}

#contact h2 {
    color: var(--color-aqua) !important;
    font-family: Electrolize;
}

#contact h5 {
    color: var(--color-aqua) !important;
    font-family: Electrolize;
}

#contact p {
    color: white;
    font-family: Montserrat;
}

#contact .contactspacer {
    height: 2vh;
}